html
	head
		title Stockholm Public Library 
		script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet', type='text/css', href='dist/css/style.min.css')
	body
		nav
			div
				#navbar 
					a(href='#title') ARC 308
				ul
					li 
						a(href='#overview') Overview & Plans
					li 
						a(href='#insideoutside') Inside/Exterior
					li 
						a(href='#surroundings') Surroundings
					li 
						a(href='#interview') Firsthand Experience
					li 
						a(href='#video') Video
					li 
						a(href='#photos') Photos
					li 
						a(href='#summaries') Book Summaries
					li 
						a(href='#blog') Blog Reference
					li 
						a(href='#architect') Asplund
					li 
						a(href='#drawing') Drawing
					li
						a(href='#citations') Works Cited

		.container
			h1#title Stockholm Public Library
			p Welcome to my blog for my ARC 308 class at UT Austin (taught by the great Lawrence Speck!) Below I have more information regarding my scavenger hunt topic, the Stockholm Public Library, a hallmark of Swedish architecture and a combination of various architectural styles. 
			img(src='./dist/imgs/library_front.jpg' class='center')
			figcaption A view of the building

			h2#overview Overview & Plans
			p The Stockholm Public Library is a library building situated in the urban center of Stockholm, Sweden. The building was designed by famous Swedish architect, Gunnar Asplund and was established in 1928. The purpose of the building was to provide the inhabitants of Stockholm a place to educate themselves about the knowings of the world. It was meant to proliferate knowledge and spread the notion that intellect lead to power. Thus, the primary users of this building were the citizens (all age groups) of the city and the secondary users would be tourists and other outsiders. The library is surrounded by bustling city streets as well as a large park. 

			iframe(src="https://albumizr.com/a/INCd" scrolling="no" frameborder="0" allowfullscreen width="700" height="500" class='center')

			p Above are the architectural plans for the library, once again, designed by Gunnar Asplund. Originally, the building was meant to have a rounded dome on the top with the ancilliary buildings as as support. However, the design was too far-fetched and difficult to build. As a result, Asplund was forced to take a new approach, leading him to formulate a new idea through the use of simple, geometric shapes for the design (this topic will be touched upon later).

			h2#insideoutside Interior / Exterior
			iframe(src="https://albumizr.com/a/N40E" scrolling="no" frameborder="0" allowfullscreen width="700" height="500" class='center')
			figcaption The following album shows the interior of the library. An interesting fact is that the rotunda shape of the interior was inspired by Claude Nicholas Ledoux’s Rontonde de la Villette. 
			p The interior of the building tends to be a breathtaking experience for many. As you enter the building, you are welcomed by an enveloping atmosphere of books, books, and more books! The large rotunda enthralls the user with its size and demeanor. Although intimidating, the building welcomes learning and offers a wealth of knowledge (around 4 million books in total).

			p Below we see a few pictures of the exterior of the building, 
			img(src='./dist/imgs/exterior1.png' class='center')
			figcaption An angled picture of the building, showing the park and the large rotunda. The specially made stucco orange brick walls are a prominent feature of the library.
			p The main building that we see was primarily made on a foundation of concrete blocks, built on top with brick walls in stucco orange and ocher rose. For support, iron beams and concrete were used. The ceilings are primarily covered with tar. Furthermore, granite was used for various pillars that surrounded the building. The interior of the building housed hardwoods native to Sweden.
			img(src='./dist/imgs/exterior2.png' class='center')
			figcaption This picture shows the front view of the library, showing off the Egyptian-style staircase that leads the spectator straight into the heart of the library. 

			h2#surroundings Surroundings
			img(src='./dist/imgs/gearth1.png' width="400" height="300" class='center')
			p Based on the images provided through Google Earth, I could see that the Stockholm Public Library is placed conveniently in an urban setting, allowing people to easily access the building. Furthermore, the library is very close to the main road as well as a large park called Observatorielunden. In context to the rest of the city, I felt that the library was placed right in the heart of Stockholm, surrounded by many shops, restaurants, apartments, and municipal buildings. I quickly deduced that this library was intended to be a central point in the city where people of all ages could stop by whenever they were in the area. In addition to being close to the city area, the building is also positioned quite nicely near a nice park which provides a fresh, calm environment for people who wish to walk by. 

			h2#interview Firsthand Experience from Dr. Speck
			p I was able to get the chance to speak to Dr. Speck about the Stockholm Public Library and he gave me his impression about the building. Right off the bat, Dr. Speck mentioned just how grand the entire library was. The building was positioned in a bustling, urban environment, filled with a constant flow of people, as well as being right next to a beautiful park. Dr. Speck described how the entrance of the library led you up and up into the dome. Speck mentioned to me that, <i>“...you literally walk up into the dome and are engulfed by a rotunda of a tons of books...with a giant light shining down on you from the roof….”</i> Furthermore, Dr. Speck mentioned how the building was logically designed, providing the user all the books right at his/her disposal (without having to search aisle for aisle, everything was surrounding you). The library symbolized the “intellectual spirit” and “highlighted the importance of education.”

			h2#video Video
			iframe(width="600" height="515" src="https://www.youtube.com/embed/SgMqEq5pXxQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class='center')
			p To understand more about the Stockholm Public Library, I decided to watch a few videos to have a better feel for how the building was. After watching the video above,  I was able to have a feel for the atmosphere that was provided by the design of the building. Firstly, I truly understood just how MASSIVE the rotunda of the building was. Through the video, I was able to view the building from a unique perspective to have a good feel for the scale of the interior region. Furthermore, all of the books were aligned on the curves of the rotunda’s edges with the interior filled with tables and computers for public use. Moreover, there were three separate floors to peruse through the books along the border of the rotunda (so big!) The light was also positioned on the roof perfectly to provide a peaceful environment to a visitor.

			p In addition to giving me an understanding of the interior of the building, the video gave me additional insight in understanding how the external environment influenced the atmosphere of the library. The bustling traffic of people, cars, motorbikes, and bicycles gave the library an urban feel and also made the building seem like an escape from the outside world. The park nearby was also quite beautiful and complemented the peaceful nature of the library. 

			h2#photos Photos
			iframe(src="https://albumizr.com/a/nOFH" scrolling="no" frameborder="0" allowfullscreen width="700" height="500" class="center")
			p Most of the pictures above in the slideshow give the viewer a good feel for just how big this library is. Books surround the user's full 360 degrees of vision and provide a comfortable environment for learning. Per Dr. Speck, the building demonstrates power of education through its size.

			h2#summaries Book Summaries

			p <strong>The Architecture of Erik Gunnar Asplund</strong>: In this book, I learned that Asplund’s main inspiration for the design of the public library derived from neo-classical and functional ideals (example would be the geometric structure and stairs that could be described as Egyptian). The initial design of the building was to have a skylit dome on the top as Asplund wished for the building to be a metaphor for the mind, a token to the library’s purpose.  However, due to structural reasons, the design had to be shifted to becoming a “tall cylinder” since the dome would have been expensive and difficult to build (nevertheless, Asplund did his best to maintain the symbolic dimension of the building ). Throughout the design of the building, Asplund attempted to incorporate logical structures as well as soft features to improve the atmosphere of the building. One of these tricks involved the manipulation of light as Asplund incorporated the contrast of light and dark between the “mysterious side stairs” and the inner cylinder to symbolize the relation between the known and the unknown. 

			p Citation: <i>Wrede, Stuart, and Erik Gunnar. Asplund. The Architecture of Erik Gunnar Asplund. The MIT Press, 1983.</i>

			p <strong>Asplund</strong>: In this book, I learned that Asplund’s design was actually very similar to one of his previous designs, the Lister Court-House (he was inspired while traveling abroad). In addition, Asplund’s plans for designing the public library changed quite drastically from creating a decorate dome structure to a tall cylinder with a few pictoral friezes. This is an example of how Asplund’s architectural ideals went through a maturation process while planning the library, transitioning from a classical style to a more functional approach in the final design. 

			p Citation: <i>Caldenby, Claes, and Olof Hultin. Asplund. Gingko Press, 1997.</i>

			h2#blog Blog Reference
			a(href="https://www.archdaily.com/92320/ad-classics-stockholm-public-library-gunnar-asplund") AD Classics: Stockholm Public Library / Gunnar Asplund
			p The following website is ArchDaily, a site that discusses various works of architecture and their impacts. This post is by Luke Fiedrer. In this post, Fiedrer goes through a detailed explanation of the background of the library’s design as well as the specific details in the designs. One important thing that I learned from this post was the thought of functionality that really went into the design of the building. The rotunda was not there for grand effect but rather because Asplund wanted to provide the easiest way for a person to find a book once they entered the building. The building had to be simple and straightforward. 

			p Fiedrer does make a strong claim about the building itself, mentioning that the architecture of the library is “hard to characterize” due to its classical elements and simple geometry. I agree with Fiedrer since the library maintains both elements of classic architecture (evident through the Egyptian style entry way) as well as simple shapes (rectangular building, circular rotunda) to maintain the function of the building. However, I think Asplund makes it pretty clear with his attempt of modernistic architecture since he focuses on strong geometric shapes over fancy structural designs. It can be argued that there were some classical elements, but I believe that architecture builds on itself anyways, so if we picked up every detail that resembled other time periods then we would have a hard time classifying any structural work. 


			h2#architect Asplund
			img(src="./dist/imgs/asplund.jpg" width="100" height="200" align="right")
			p The idea behind the marvelous structure of the Stockholm Public Library was designed by <b>Gunnar Asplund</b> (1885-1940), one of the most prominent Swedish architects. The book, <strong>The Stockholm Exhibition</strong>, featured Asplund and gave some background in which I learned three important things. Firstly, we learn that at the time Gunnar Asplund was considered as "possibly the greatest Swedish architect of his time" and had other works which included the Snellman Villa, the Woodland Chapel, and multiple court houses. Furthermore, we learn that Asplund traveled abroad to learn different architectural styles and to gain inspiration for his transition into modernism (one of his great works in modern architecture was the Stockholm Exhibition). Finally, Asplund was the professor of Architecture at the Royal Institute of Technology and he helped work with various commissions until his premature death at the age of 55. 

			p Citation: <i> Rudberg, Eva. The Stockholm Exhibition 1930: Modernism's Breaktrough in Swedish Architecture. Stockholmia, 1999. </i>


			h2#drawing Drawing
			img(src="./dist/imgs/sketch.jpg" class="center")
			p I attempted to sketch the building from a picture that I found on Flickr to show off the building from a nice angle. I tried to capture the proportion of the rotunda to the building and really highlight the geometric shape of the building with the rectangular body of the library. Furthermore, it was interesting to see how tall the rotunda was (not common among most rotunda shaped buildings) compared to the proportion of the body' building. As a result, I tried to capture that feature as best as I could as well. 

			h2#citations Works Cited
			a(href='./attachments/karthik_works_cited.pdf') Click here for PDF
			ul
				li Caldenby, Claes, and Olof Hultin. Asplund. Gingko Press, 1997.
				li The Editors of Encyclopædia Britannica. “Gunnar Asplund.” Encyclopædia Britannica, Encyclopædia Britannica, Inc., 26 Sept. 2011, www.britannica.com/biography/Gunnar-Asplund.
				li Fiedrer, Luke. “AD Classics: Stockholm Public Library / Gunnar Asplund.” ArchDaily, ArchDaily, 30 Nov. 2010, www.archdaily.com/92320/ad-classics-stockholm-public-library-gunnar-asplund.
				li Fjellstedt, Jonas. “Stockholm Public Library Designed by Gunnar Asplund.” Flickr, Flickr, 1 July 2017, www.flickr.com/photos/jonas_fjellstedt/37738586325/.
				li Henderikx, Tom. “Stockholm - Public Library.” Flickr, Flickr, 26 Feb. 2016, www.flickr.com/photos/tomhndrx/24609557144/.
				li Jessica. “Stockholm Library.” Flickr, Flickr, 15 Nov. 2015, www.flickr.com/photos/pearled/5176119115/.
				li K, Helen. “Stockholm Public Library.” Flickr, Flickr, 15 Aug. 2017, www.flickr.com/photos/helenk/36594970655/.
				li Lyneeberger. “Stockholm's 360-Degree Library.” Atlas Obscura, Atlas Obscura, 13 Mar. 2017, www.atlasobscura.com/places/stockholms-360-library.
				li Nerstu, Hans. “Stockholm Public Library I.” Flickr, Flickr, 30 Apr. 2011, www.flickr.com/photos/28402310@N06/5711212002/.
				li Rudberg, Eva. The Stockholm Exhibition 1930: Modernism's Breaktrough in Swedish Architecture. Stockholmia, 1999.
				li Slatfats. “Stockholm Public Library.” Flickr, Flickr, 13 Aug. 2011, www.flickr.com/photos/davidcrowther/6151191334/.
				li “Stockholm Public Library - Data, Photos & Plans.” WikiArquitectura, en.wikiarquitectura.com/building/stockholm-public-library/.
				li Svartmetall Sverige!, director. Stockholm - Stadsbiblioteket (Central Library) Interior and Exterior 2015 06 14. YouTube, Google, 14 June 2015, www.youtube.com/watch?v=SgMqEq5pXxQ.
				li Thyberg, David. “Stockholm Public Library.” Flickr, Flickr, www.flickr.com/photos/david_thyberg/4997235168/sizes/z/.
				li Wrede, Stuart, and Erik Gunnar. Asplund. The Architecture of Erik Gunnar Asplund. The MIT Press, 1983.


			footer#footer
				script(src="./dist/js/smooth.min.js")
				p Copyright Karthik Velayutham

